*.pyo
*.pyc
.DS_Store
*.pyc

*.pyo

*.pyo

*.txt

NMG.egg-info/PKG-INFO

.DS_Store

.DS_Store

*.pyc

*.pyo

.DS_Store

*.txt

*.txt

basic/.DS_Store

basic/.DS_Store

basic.egg-info/SOURCES.txt

*.m

/scripts/besa